*{
    margin: 0;
    padding: 0;
}

#confettiCanv{
    display: none;
}

html, body{
    height: 100%;
    background-image: url("gradientbck.webp");

}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.question{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9bec7;
    border-radius: 10px;
    filter: drop-shadow(purple .5rem .5rem 3px);
    
}

.question h2 {
    text-align: center;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.4s;
}

button{
    width: 50%;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

h1{
    padding: 20px;
}

#score{
    position: fixed;
    bottom: 0;
    left: 0;
    background: purple;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 20px;

}

.clicked{
    background: red;
}

.clicked.correct{
    background: green;
}

#correctAnswer1{
    display: none;
}

.answerReveal{
    display: none;
}